.container {
  display: flex;
  flex-direction: column;
  width: 100%;
}

header {
  font-size: 14px;
  color: white;
  background: black;

  display: flex;
  flex-direction: row;
}
header > p {
  margin: 25px;
}

.content {
  display: flex;
  flex-direction: row;
  padding: 0px 5px;
}

.right-column {
  display: flex;
  flex-direction: column;
  justify-content: : center;
}
.smaller-box {
  width: 400px;
  height: 400px;
  background: #f3f3f3;
}
